html{
    font-size: 15px;
    font-family: verdana;
}

.login form {
    width: 10%;
    margin: auto;
    margin-top: 200px;
}

.login_input{
    width: 100%;
}

a{
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #00f;
}

a:active {
    color: #000;
}

